.movie__inner{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
}

@media (max-width: 1009px) {
    .movie__inner{
        gap: 15px;
    }

}

@media (max-width: 936px) {
    .movie__inner{
        flex-direction: column;
        justify-content: center;
    }
}
