
.movie {
    display: flex;
    flex-wrap: wrap;
    max-width: 48%;
    position: relative;
    box-shadow: rgba(134, 111, 111, 0.15) 6px 0px 4px, -1px 4px 2px rgba(134, 111, 111, 0.15);
}
.movie__card{
    display: flex;
    flex: 1;
    min-width: 100%;
    gap: 20px;
}

.movie__card__img__inner {
    flex: 1;
    display: flex;
    width: 35%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.movie__card__img{
    min-height: 100%;
    object-fit: cover;

}

.movie__card__info {
    flex: 1;
    width: 65%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.movie__card__info__rating__rate{
    display: block;
    font-size: 13px;
}

.movie__card__info__text {
    width: 80%;
}

.movie__card__info__date {
}

.movie__card__info__genre {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movie__card__info__about {
}

.movie__card__info__rating {
    width: 100%;
}
.movie__card__info__circle__rating__inner{
    position: absolute;
    right: 10px;
    top: 5px;
}
.movie__card__info__circle__rating{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.movie__card__info__circle__rating.middle__low{
    border: 2px solid #E97E00;
}.movie__card__info__circle__rating.middle{
    border: 2px solid #E9D100;
}
.movie__card__info__circle__rating.low{
    border: 2px solid #E90000;
}
.movie__card__info__circle__rating.high{
    border: 2px solid #66E900;
}

@media (max-width: 936px) {
    .movie{
        min-width: 100%;
    }
    .movie__card{
        min-width: 100%;
    }
}

@media (max-width: 550px) {
    .movie{
        min-width: 90%;
        padding: 0 15px;
    }
    .movie__card__info__genre{
        justify-content: center;
    }
    .movie__card__info__genre{
        padding-left: 90px;
        justify-content: flex-start;
    }
    .movie__card__info__date{
        padding-left: 90px;
    }
    .movie__card__info__text{
        padding-left: 90px;
        max-width: 150px;
    }
    .movie__card__img__inner{
        position: absolute;
        width: 72px;
        height: 100px;
    }
    .movie__card__info__rating{
        display: flex;
        justify-content: center;
    }
}